body {
    font-family: 'Tajawal', "Poppins", sans-serif !important;
}
.btn {
    background-color:#20409a !important;
}

.page-title {
    color :#20409a;
}

.text-body-tertiary {
    color: #20409a !important;
}